async-generator==1.10
attrs==20.3.0
bleach==3.3.0
click==7.1.2
defusedxml==0.6.0
entrypoints==0.3
future==0.18.2
gitdb==4.0.5
GitPython==3.1.12
ipython-genutils==0.2.0
Jinja2==2.11.3
joblib==1.0.0
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.3
MarkupSafe==1.1.1
mistune==0.8.4
mkdocs==1.1.2
mkdocs-material==6.2.7
mkdocs-material-extensions==1.0.1
mkdocstrings==0.14.0
mknotebooks==0.6.2
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
nltk==3.5
packaging==20.9
pandocfilters==1.4.3
Pygments==2.7.4
pymdown-extensions==8.1.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytkdocs==0.10.1
PyYAML==5.4.1
pyzmq==22.0.2
regex==2020.11.13
six==1.15.0
smmap==3.0.5
testpath==0.4.4
tornado==6.1
tqdm==4.56.0
traitlets==5.0.5
webencodings==0.5.1
